.navigation
{
    background: linear-gradient(#2E335A, #1C1B33);
    position: fixed;
    inset: 0 90% 0 0;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap: 50px;
    
   
}
.navigation li{
    list-style-type:none; 
}

.navigation-content a 
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.navigation-content:hover , .navigation-content a:hover
{
    transform: translateY(-2px);
    transition: .3s ease-in-out;
    color: #48CB3D;
    box-shadow: 6px 2px 20px -12px rgb(20, 20, 20);
}

#user-profile-img
{
    max-width: 100px;
    margin-top: 50px;
}
.user-navigation
{
    text-align: center;
}

.thanks-to
{
    position: absolute;
    bottom: 5px;
    right: 0;
}
.thanks-to button
{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.11);
}
.thanks-to button:hover
{
    background-color: #48CB3D;
    cursor: pointer;
    color: whitesmoke;
    transition: .5s ease-in-out ;
    transform: rotate(360deg);
    font-size: 20px;
}
.thanks-div {
    
    background-color: rgba(255, 255, 255, 0.582);
    color: black;
    border-radius: 5px;
    text-align: center;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    display: none;

    animation-duration: 1s;
    animation-name: fade-in;
}
@keyframes fade-in
{
    from{
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@media only screen and (max-width: 980px)
{
    .navigation
    {
       position: relative;
       gap: 0;
    }
    #user-profile-img
    {
        display: none;
    }
    #user-name
    {
        display: none;
    }
    .thanks-div
    {
        bottom: 0;
    }
    .thanks-to button
    {
        margin-right: 10px;
        display: none;
    }
    ul
    {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    
}