.naviagtion
{
    background: linear-gradient(#2E335A, #1C1B33);
    position: fixed;
    inset: 0 85% 0 0; 
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.naviagtion li{
    list-style-type:none;   
}

.naviagation-content
{
  
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  cursor: pointer;

}
.naviagation-content:hover
{
    transform: translateY(-2px);
    transition: .3s ease-in-out;
}
.naviagation-content a
{
    text-decoration: none;
    color: white;
}
#user-profile-img
{
    max-width: 100px;
    margin-top: 50px;
}
.user-navigation
{
    text-align: center;
}


