@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
.add-section
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    font-family: 'Jura', sans-serif;
}
.left-add-section
{
    max-width: 300px;

    
}
.dayOfTheWeek-add-section
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    border: 1px dashed #138C18;
    border-radius: 5px;
}
.date-add-section
{
    display: flex;
}
.checkboxes-inner-content-add-section
{
    display: flex;
    gap: 2px;
}
#test-input
{
    accent-color: #138C18;
    
}
.levels-content-add-section
{
    display: flex;
    gap: 10px;
}
.level-slider-add-section input
{
    width: 100%;
}
.upload-image-content-add-section
{
    border: 1px solid white;
}
.add-section span
{
    color: #48CB3D;
}
.info-small-label
{
    font-size: 12px;
    color: whitesmoke;
}
