@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
.add-section
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

form
{
    display: flex;
    gap: 100px;
   
}
.left-add-section
{
    max-width: 350px;
    display:flex;
    flex-direction: column;
    gap: 10px;

    
}
.dayOfTheWeek-add-section
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
   
}
.checkboxes-add-section
{   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border: 1px dashed #138C18;
    border-radius: 5px;
}
.date-add-section
{
    display: flex;
    gap:10px;
}
.checkboxes-inner-content-add-section
{
    display: flex;
    gap: 2px;
}

.levels-content-add-section
{
    display: flex;
    gap:10px;
    justify-content: start;
    font-size: 16px;
}


.upload-image-content-add-section
{
    border: 1px solid white;
    display: flex;
}
.add-section span
{
    color: #48CB3D;
}
.info-small-label
{
    font-size: 12px;
    color: whitesmoke;
}
.checkbox-input-add-section
{
    accent-color: #48CB3D;
}
.add-section input
{
    background-color: #DFDADA;
    outline: none;
    padding: 13px;
    border-radius: 6px;
    border:none;
    font-weight: bold;
}
.time-add-section
{
    display: flex;
    gap: 10px;
}
.create-trening-button-add-section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-section-button
{
    border: none;
    background-color: transparent;
    color: #57f049;
    cursor: pointer;
    max-width: 150px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
    font-size: 20px;
}
.add-section-button:active
{
    transform: translateY(-2px);
    color: white;
}
.right-content-add-section
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;;
}
.levels-content-add-section
{
    color: #A5E0DD;
}

.levels-content-add-section p.active
{
    color: #0aeee3;
    font-size: 20px;
    transition: 0.3s ease-in;
}

 input[type=range]
{
    padding: 4px;
    -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background-color: #A5E0DD;
  border-radius: 5px;
  margin: 10px 0;
}
input[type=range]::-moz-progress-bar
{
    background-color: red;
    height: 1px;
}
input[type=range]::-moz-range-progress {
    -webkit-appearance: none;
    background-color: #030303; 
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: #A5E0DD;
    border-radius: 50%;
    border:2px solid #105955;
  }
  
  

input[type=range]::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background-color: #A5E0DD;
    border-radius: 50%;
    border:2px solid #105955;
    
  }
  input[type=range]::-ms-thumb {
    width: 22px;
    height: 22px;
    background-color: #A5E0DD;
    border-radius: 50%;
    border:2px solid #105955;
}
.css-14pt78w-MuiSlider-rail
{
background-color: #A5E0DD!important;
opacity: 1!important;
padding: 3px;
}
.css-1gv0vcd-MuiSlider-track
{
    color: #105955!important;

    padding: 2px;
}
.css-frv3qg-MuiSlider-thumb
{
    background: #A5E0DD !important;
}

.css-6cwnna-MuiSlider-mark
{
 opacity: 1!important;
}
@media only screen  and (max-width:540px) {
    form
    {
        flex-direction: column;
        height: 100vh;
        gap: 15px;
        align-items: center;
    }
    .left-add-section
    {
        margin-top: 10px;
    }
}